@charset "UTF-8";
/* CSS Document */
@font-face{
   font-family:'webfont01';
   src:url('../font/GowunDodum-Regular.ttf') format('truetype');
}

.hide{
   width:0; height:0;
   font-size:0; line-height:0;
   position:absolute;
   visibility: hidden;
}
#wrap{width:100%;}
img{max-width:100%;}
/* 공통 */
#wrap>div>article,#wrap>div>header,#wrap>div>footer{
   width:97%;
   margin:0 auto;
}
#box{
   position:relative;
   width:100%;
   height:100vh;
}
/* header */
#headerWrap{
   position:absolute;
   left:0; top:0;
   width:100%;
   padding:20px 0;
   background-color:rgba(0, 0, 0, 0.5);
   z-index:900;
}
header>h1>a>img{
   position:absolute;
   top:17.5%; right:50%;
   margin-right:-46px;
}
header>nav{width:100%;}
header>nav>ul:nth-child(2){float:left;}
header>nav>ul:nth-child(3){float:right;}
header>nav>ul{display:flex;}
header>nav>ul>li{margin-left:20px;}
header>nav>ul>li:first-child{margin-left:240px;}
header>nav>ul>li:last-child{margin-right:240px;}
header>nav>ul>li>a{
   font: bold 18px 'webfont01',Arial, sans-serif;
   color:#fff;
   text-transform:uppercase;
}
.link>li>a>img{width:25px;}
#headerWrap>ul.link{display:none;}
/*  버튼 군단 */
#btn{
   display:none;
   width:30px; height:30px;
   position:absolute;
   top:22px; left:28px;
}
#btn>span{
   position:absolute;
   top:0; left:0; 
   width:100%;
   height:3px;
   background-color:#fff;
}
#btn>span:nth-child(2){top:40%;}
#btn>span:nth-child(3){top:80%;}
nav>.close{
   display:none;
   width:30px; height:30px;
   position:absolute;
   top:30px; right:30px;
}
nav>.close>span{
   position:absolute;
   top:50%;
   display:block;
   width:100%; height:3px;
   background-color:#fff;
}
nav>.close>span:nth-child(1){transform:rotate(-135deg) translateX(0%);}
nav>.close>span:nth-child(2){transform:rotate(-45deg) translateX(0%);}
/* box01 */
#box01{
   height:100vh;
   position:relative;
   box-sizing:border-box;
   background:url('../images/header_back.jpg') no-repeat center;
}
#box01>article{
   height:100%;
   display:flex;
   align-items:center;
   justify-content:center;
}
#box01>article>dl{
   font:bold 40px 'webfont01',Arial, sans-serif;
   color:#fff;
   text-align:center;
}
#box01>article>dl>dd{font:24px 'webfont01',Arial, sans-serif;}
/* main */
/* box02 */
#box02{height:100vh;}
#box02>article{
   width:97% /* 1482px */; height:100%;
   margin:0 auto;
   position:relative;
}
#box02>article>h3{
   width:100%;
   position:absolute;
   top:50%;
   display:flex;
   justify-content:space-between;
   font:bold 40px 'webfont01',Arial, sans-serif;
   color:#5c5c5c;
}
#box02>article>h3>span{display:inline-block;}
#box02>article>p{
   width:244px; height:100%;
   margin:0 auto;
   background:url('../images/dlstodakrrjffl.png') no-repeat center center fixed;
}
.box02_left{left:240px;}
.box02_right{right:240px;}
/* box03 */
#box03{
   height:100vh;
   background:url('../images/left\ top.png') no-repeat 30% -25%,
              url('../images/top\ right.png') no-repeat 100% 5%,
              url('../images/left\ bottom.png') no-repeat 0% 80%,
              url('../images/behind.png') no-repeat 58% 65%,
   #f9d605;
}
#box03>article{
   width:97% /* 1482px */; height:100%;
   margin:0 auto;
   position:relative;
}
#box03>article>h3{
   width:100%;
   position:absolute;
   top:50%;
   display:flex;
   justify-content:space-between;
   font:bold 40px 'webfont01',Arial,sans-serif;
   color:#fff;
}
#box03>article>h3>span{display:inline-block;}
#box03>article>p{
   width:244px; height:100%;
   margin:0 auto;
   background:url('../images/ekfqlcdbwkakrrjffl.png') no-repeat center center fixed;
}
#box03>article>div{
   position:absolute;
   top:50%;
}
.box03_left{left:250px;}
.box03_right{right:250px;}
/* box04 */
#box04{position:relative;}
#box04>article>div#show{
   width:100% /* 1489px */;
   margin:0 auto;
   overflow:hidden;
}
#box04>article>div>div#all{
   width:347.8844862% /* 5180px */;
   display:flex;
   flex-wrap:wrap;
}
#box04>article>div>div figure{
   width:8.7451737% /* 453px */;
   margin:0 1.2548262% /* 65px */ 0 0;
   padding:100px 0;
}
#box04>article>div>div figure>figcaption{
   padding-top:35px;
   font:20px 'webfont01',Arial,sans-serif;
   text-align:center;
}
#box04 .left{
   display:block;
   width:50px; height:50px;
   position:absolute;
   top:42.5%; left:5vw;
}   
#box04 .right{
   display:block;
   width:50px; height:50px;
   position:absolute;
   top:42.5%; right:5vw;
}  
/* footer */
#footerWrap{
   padding:54px 165px;
   background-color:#434343;
}
footer{
   width:100% /* 1483px */;
   margin:0 auto;
   overflow:hidden;
}
dl.info{
   overflow:hidden;
   display:flex;
 }
dl.info>dt{flex-grow:1;}
dl.info>dd{
   display:flex;
   flex-grow:3;
   justify-content:space-between;
}
dl.info>dd>div{flex-grow:3;}
dl.info>dd>div ul>li{display:inline-block;}
dl.info>dd>div ul>li>a{
   font:14px 'webfont01',Arial,sans-serif;
   color:#fff;
}
footer dl>dd>div>div{
   font:14px/20px 'webfont01',sans-serif;
   color:#fff;
}
footer dl>dd>div>div>small{display:block;}
footer dl>dd>div>div>address{
   display:inline;
   font-style:normal;
}
footer dl>dd>div>div>dl{display:inline;}
footer dl>dd>div>div>dl>dt{display:inline;}
footer dl>dd>div>div>dl>dd{display:inline;}
footer dl.sns{
   clear:both;
   width:160px;
   float:right;
   flex-grow:1;
}
dl.sns>dd{
   margin:0 5px;
   display:inline-block;
}
dl.sns>dd>a>img{width:55px;}